<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">

    <style>
        .table-container {
            padding: 15px 20px;
        }

        .title {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        tr:hover {background-color: #ccc;}
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
    </div>

    <div class="table-container">
        <div class="title">
            List Users
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td><%= user.city %></td>
                    <td>
                        <a href="/update">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>  
            <% }); %>.

        </table>

    </div>
</body>
</html>